:root {
  background-color: hsl(200, 40%, 60%);
}
boat {
  position: fixed;
  top: 0;
  left: 0;

  svg {
    transform: translate(-50%, -50%);
  }
}

joystick {
  background-color: hsl(0, 0%, 100%, 0.25);
  border-radius: 50%;
  backdrop-filter: blur(1rem);
  padding: 1.5rem;
  margin: 1.5rem;

  &.throttle {
    position: fixed;
    bottom: env(safe-area-inset-bottom);
    left: env(safe-area-inset-left);
  }

  &.steer {
    position: fixed;
    bottom: env(safe-area-inset-bottom);
    right: env(safe-area-inset-right);
  }

  joystick-nib {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: hsl(0, 0%, 100%, 0.25);
  }
}
